<amp-state id="productsState"
  src="/json/related_products.json">
</amp-state>
<amp-state id="product">
        <script type="application/json">
          {
            "moreItemsPageIndex": 0,
            "hasMorePages": true
          }
        </script>
      </amp-state>
      <amp-list src="/json/related_products.json"
  [src]="productsState.items"
  width="320"
  height="144"
  [height]="productsState.items.length * 24"
  class="m1">
  <template type="amp-mustache">
    <strong>Product</strong>: {{name}}
    <strong>Price</strong>: ${{price}}
  </template>
</amp-list>
<form method="GET"
  action="/json/more_related_products_page"
  action-xhr="/json/more_related_products_page"
  target="_top"
  on="submit-success: AMP.setState({
            productsState: { 
              items: productsState.items.concat(event.response.items)
            },
            product: {
              moreItemsPageIndex: product.moreItemsPageIndex + 1,
              hasMorePages: event.response.hasMorePages
            }
          });">
  <input type="hidden"
    name="moreItemsPageIndex"
    value="0"
    [value]="product.moreItemsPageIndex">
  <input type="submit"
    value="Show more"
    class="ampstart-btn caps m1 show"
    [class]="(product.hasMorePages == false ? 'hide' : 'ampstart-btn caps m1 mb3 show')">
</form>
{% comment %}https://ampbyexample.com/advanced/show_more_button/{% endcomment %}