<style amp-custom>
{% if page.title == "Startseite" %}

{% include css/index.css %}

{% elsif page.path contains "_serviceprovider" %}

{% include css/serviceprovider.css %}

{% else %}

{% include css/list.css %}

{% endif %}
</style>     

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+"
crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Satisfy|Fira+Sans" rel="stylesheet">