<footer class="footer col-12 pad-0">
        <div class="container">
            <div class="col-12 col-6-m">
                <h2 class="white">Über {{ site.title }}</h2>
                <hr>
                <p class="about-lt">{{ site.description }}</p>
            </div>
            <div class="col-12 col-6-m">
                <h2 class="white">Weitere Informationen</h2>
                <hr>
                <ul class="list-unstyled">
                    {% for item in site.data.footer %}
                    <li>
                        <a href="{{ item.link }}">
                            <i class="fa fa-hand-o-right"></i> {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 copyright text-center">
                <p>Copyright {{ site.time | date: "%Y" }} Weddian UG.</p>
            </div>
        </div>
    </div>
</footer>