<footer class="site-footer footer-map">
    <div class="footer-top">
        <div class="footer-content">
            <div class="flex-box">
                <div class="half-box">
                    <h2>Über Weddian Branchenbuch</h2>
                    <hr>
                    <p class="about-lt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lectus,
                        consectetur quis nisi vitae, Nunc eget ultrices ligula.</p>
                    <a href="about.html" class="btn-primary-link more-detail"><i class="fa fa-hand-o-right"></i> Read
                        More</a>
                </div>
                <div class="half-box">
                    <h2>Weitere Informationen</h2>
                    <hr>
                    <ul class="use-slt-link">
                        <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Impressum</a></li>
                        <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;AGB</a></li>
                        <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Datenschutz</a></li>
                        <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Mediadaten</a></li>
                        <li><a href="#"><i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2017 Weddian UG.</p>
    </div>
</footer>
