{% if page.gallery %}
    <amp-carousel width="1280" height="720"
                  layout="responsive"
                  type="slides" id="carousel-with-preview">
        {% for image in page.gallery %}
        <amp-img src="{{ image.url | replace: 't_gallery', 't_glry'}}"
                 width="1280" height="720"
                 layout="responsive"
                 alt="a sample image"></amp-img>
        {% endfor %}
    </amp-carousel>
    <amp-carousel class="carousel-preview"
                  width="auto"
                  height="100"
                  layout="fixed-height"
                  type="carousel">
        {% for image in page.gallery %}
        <button on="tap:carousel-with-preview.goToSlide(index={{forloop.index0}})">
            <amp-img src="{{ image.url | replace: 't_gallery', 't_glrythumb' }}"
                     width="160"
                     height="90"
                     layout="fixed"
                     alt="a sample image"></amp-img>
        </button>
        {% endfor %}
    </amp-carousel>
{% endif %}
