<header class="header">
        <div class="container">
                <a class="title" href="{{ site.baseurl }}/">
                        <amp-img src="/images/weddian-logo-72.png" width="60" height="60"></amp-img>

                        Weddian Branchenbuch
                </a>
                <nav class="nav">
                        <ul class="list list--nav">
                                        {% for item in site.data.header %}
                                        <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                                        {% endfor %}
                        </ul>
                        <ul class="sidebar-toggle">
                                <li>
                                        <a on="tap:sidebar.open">☰</a>
                                </li>
                        </ul>
                </nav>

        </div>
</header>

{% include sidebar.html %}