<div class="image-header">
    <amp-img height="9" width="16" layout="responsive" src="/images/pexels-photo-134469.jpeg"></amp-img>
    <div class="slt_item_head">
        <div class="user_logo_pic"><amp-img layout="responsive" width="302" height="170" src="{{ page.logo.url }}"/></div>
        <div class="slt_item_contant">
            <h1>{{ page.name }}</h1>
            <p class="location"><i class="fa fa-map-marker"></i> {{ page.addressLabel }}</p>
            <div class="rating-box">
                <div><span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                        class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </span></div>
            </div>
            <div class="head-bookmark-bock">
                <div class="detail-banner-btn"><a href="#anfragen" class="button-primary"><i
                        class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Anfragen</a>
                </div>
                <div class="detail-banner-btn"><a href="#bewerten" class="button-primary"><i
                        class="fa fa-heart-o"></i>&nbsp;&nbsp;Bewerten</a></div>
            </div>
        </div>
    </div>
</div>