<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <ul class="list list--nav">
        <li><a href="#" on="tap:sidebar.close">Schließen</a></li>
        {% for item in site.data.header %}
        <li><a href="{{ item.link }}">{{ item.title }}</a></li>
        {% endfor %}
        
</ul>
<amp-img layout="fixed" width="162" height="48" class="mar-left-2 mar-top-1" src="{{ site.baseurl }}/images/app-store-badge.svg"></amp-img>
<amp-img layout="fixed" width="162" height="48" class="mar-left-2 mar-top-1" src="{{ site.baseurl }}/images/play-store-badge.png"></amp-img>
</amp-sidebar>