<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <ul class="list list--nav">
        <li><a href="#" on="tap:sidebar.close">Schließen</a></li>
        <li><a href="https://blog.weddian.de">Blog</a></li>                       
        <li><a href="http://www.hochzeitsplanerplus.de/">Hochzeitsplaner</a></li>
        <li><a href="https://app.weddian.de">Dienstleister</a></li>
        <li><amp-img layout="fixed" width="135" height="40" src="{{ site.baseurl }}/images/app-store-badge.svg"></amp-img></li>
        <li><amp-img layout="fixed" width="135" height="40" src="{{ site.baseurl }}/images/play-store-badge.png"></amp-img></li>
</ul>
</amp-sidebar>