<div class="row clear">
    <div class="col-12 pad-bottom-0">
        <h2 class="card-title">Weddian als App</h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="row clear">
                    <div class="col-12 col-7-l">
                        <h2 class="card-title">Weddian Hochzeitsplaner+</h2>
                        <p>Die App für die einfache Hochzeitsplanung mit Checklisten, Tools und Inspiration
                                </p>
                                <p>Der Weddian Hochzeitsplaner+ ist die beste App zur Hochzeitsplanung. Sie unterstützt Euch bei der gemeinsamen Hochzeitsvorbereitung mit Checklisten, Bildergalerien und Planungstools und hilft Euch bei der Auswahl der besten Hochzeitsdienstleister.
                                
                                    </p>
                        <h3 class="card-title">Tolle Funktionen um die Hochzeitsplanung zu vereinfachen
                                </h3>
                                <p>Das Team von Weddian hat für alle Bereiche der Hochzeitsplanung hilfreiche Funktionen entwickelt um die Planung so einfach wie möglich zu machen. Von der Checkliste bis zum Budgetplaner ist alles dabei.
                                    </p>
                        <a class="button-primary mar-bottom-1 mar-top-1" href="http://www.hochzeitsplanerplus.de/">Mehr erfahren!</a>
                        <hr>
                        <a href="https://itunes.apple.com/app/apple-store/id909614978?pt=74937800&ct=Dienstleister&mt=8" class="mar-right-1">
                            <amp-img layout="fixed" width="162" height="48" src="{{ site.baseurl }}/images/app-store-badge.svg"></amp-img>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=de.grundid.hp24&referrer=utm_source%3DWeddian%26utm_medium%3DDienstleister">
                            <amp-img layout="fixed" width="162" height="48" src="{{ site.baseurl }}/images/play-store-badge.png"></amp-img>
                        </a>
                    </div>
                    <div class="col-12 col-5-l text-center pad-top-3">
                        <amp-img src="{{ site.baseurl }}/images/hauptmenu11.png" layout="fixed" height="454" width="255"></amp-img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>