<div class="sp-header mar-top-1 mar-bottom-1">
    <amp-img layout="fill" src="/images/cover.jpg" class="sp-header-background"></amp-img>
    <div class="sp-header-overlay container">
        <div class="col-12-m">
            <div class="sp-header-content">
                <h1 amp-fx="parallax" data-parallax-factor="1.15">{{ site.title }}</h1>
                <p class="location" amp-fx="parallax" data-parallax-factor="1.15">{{ site.description }}</p>
                <div class="pad-bottom-1">
                    <a href="#region" class="button-primary mar-top-1 mar-right-1 full-width-button" amp-fx="parallax" data-parallax-factor="1.15">
                        <i class="fa fa-map-marker"></i> Region auswählen</a>
                    <a href="#kategorien" class="button-primary mar-top-1 full-width-button" amp-fx="parallax" data-parallax-factor="1.15">
                        <i class="fa fa-tags"></i> Kategorien</a>
                </div>
            </div>
        </div>
    </div>
</div>