<div class="row clear">
    <div class="col-12 pad-bottom-0">
        <h2>Ihr Eintrag für maximale Reichweite</h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-content mar-top-2">
                <h3 class="card-title">Das Branchenbuch für die mobile Generation</h3>
                <p>Sie sind Hochzeitsdienstleister? Dann tragen Sie sich jetzt ein!</p>
                <ul class="styled-list">
                    <li><p class="mar-bottom-0 black"><b class="primary">Kontinuierlich in Kontakt</b><br>Mit über 18.000 Paaren in der Weddian App für iPhone & Android und monatlich
                        rund 600.000 Usern auf Hochzeitsportal24.de</p></li>
                    <li><p class="mar-bottom-0 black"><b class="primary">Optimal präsentiert</b><br>Im Web und in der App - professionell, individuell, sympathisch</p></li>
                    <li><p class="mar-bottom-0 black"><b class="primary">Für jedes Marketing-Budget</b><br>Kostenlos starten, individuell erweitern, jederzeit umgestalten</p></li>
                    <li><p class="mar-bottom-0 black"><b class="primary">Für junge Paare, von jungen Paaren</b><br>Modern, innovativ, persönlich</p></li>
                </ul>
                <hr class="mar-top-0">
                <a href="#" class="button-primary">Jetzt kostenlos eintragen</a>
            </div>
        </div>
    </div>
</div>