<div class="row clear">
    <div class="col-12 pad-bottom-0">
        <h2 class="card-title">Weddian als App</h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Weddian Hochzeitsplaner+</h2>
                <p>Die App für die einfache Hochzeitsplanung mit Checklisten, Tools und Inspiration</p>
                <a href="https://itunes.apple.com/app/apple-store/id909614978?pt=74937800&ct=Dienstleister&mt=8">
                    <amp-img layout="fixed" width="162" height="48" src="{{ site.baseurl }}/images/app-store-badge.svg"></amp-img>
                </a>
                <a href="https://play.google.com/store/apps/details?id=de.grundid.hp24&referrer=utm_source%3DWeddian%26utm_medium%3DDienstleister">
                    <amp-img layout="fixed" width="162" height="48" src="{{ site.baseurl }}/images/play-store-badge.png"></amp-img>
                </a>
            </div>
        </div>
    </div>
</div>