<div class="row clear">
    <div class="col-12 pad-bottom-0">
        <h2>Ihr Eintrag für maximale Reichweite</h2>
    </div>
    <div class="col-12 mar-bottom-2">
        <div class="card">
            <div class="card-content mar-top-2">
                <h3 class="card-title">Das Branchenbuch für die mobile Generation</h3>
                <p>Sie sind Hochzeitsdienstleister? Dann tragen Sie sich jetzt ein!</p>                              
                <hr class="mar-top-0">
                <a href="#" class="button-primary"><i class="fa fa-plus"></i> Jetzt kostenlos eintragen</a>
            </div>
        </div>
    </div>
</div>