<div class="row clear">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">
                    <i class="fa fa-map-marker"></i> Region auswählen</h2>
                <select on="change:AMP.navigateTo(url=event.value)" class="mar-0 mar-top-1 mar-bottom-2" id="cities">
                    {% assign cities = site.data.city-inhabitants | sort: 'inhabitants' | reverse %} {% for c in cities %}
                    <option value="/brautkleid-{{ c.citySlug }}.html">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <p>
                    {{ site.description }}
                </p>
            </div>
        </div>
    </div>
</div>