<div class="sp-header">
    <amp-img layout="fill" src="/images/categories-small/{{ page.categorySlug }}.jpg" class="sp-header-background"></amp-img>
    <div class="sp-header-overlay container">
        <div class="col-4-m" amp-fx="parallax" data-parallax-factor="1.15">
            <div class="sp-header-image">
                <amp-img layout="responsive" width="302" height="170" src="{{ page.logo.url }}" />
            </div>
        </div>
        <div class="col-8-m">
            <div class="sp-header-content">
                <h1 amp-fx="parallax" data-parallax-factor="1.15">{{ page.name }}</h1>
                <p class="location" amp-fx="parallax" data-parallax-factor="1.15">
                    <i class="fa fa-map-marker"></i> {{ page.addressLabel }}</p>
                {% if page.rating > 0.0 %}
                    <div class="rating-box" amp-fx="parallax" data-parallax-factor="1.15">
                    <span>
                            {% for i in (1..5) %}{% if i <= page.rating %}★{% else %}☆{% endif %}{% endfor %}
                    </span>
                </div>
                {% endif %}
                <div class="pad-bottom-1">
                    <a href="#anfragen" class="button-primary mar-top-1 mar-right-1 full-width-button" amp-fx="parallax" data-parallax-factor="1.15">
                        <i class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Anfragen</a>
                    <a href="#bewerten" class="button-primary mar-top-1 full-width-button" amp-fx="parallax" data-parallax-factor="1.15">
                        <i class="fa fa-heart-o"></i>&nbsp;&nbsp;Bewerten</a>
                </div>
            </div>
        </div>
    </div>
</div>