{% if page.gallery %}
    <div class="gallery-wrapper col-12">
            {% assign size = page.gallery | size %}
            {% if size > 1 %}
            {% assign count = 0 %}
            <h2>Bildergalerie</h2>
            <amp-carousel id="main-carousel"
              width="1280"
              height="720"
              layout="responsive"
              type="slides">
            {% for image in page.gallery %}
            {% assign count = count | plus: 1 %}
            <figure>
              <amp-img on="tap:lightbox{{count}}" tabindex="0" role="button"
                src="{{ image.url | replace: 't_gallery', 't_glry' }}"
                alt="{{ image.description | replace: '"', "'" }}"
                title="{{ image.description | replace: '"', "'" }}"
                layout="responsive"
                width="1280"
                height="720"></amp-img>
                {% if image.description %}
                    <figcaption on="tap:AMP.setState({expanded: !expanded})"
                    tabindex="0"
                    role="button"
                    [class]="expanded ? 'expanded' : ''"><span [text]="expanded ? 'X' : '+'">+</span>&ensp;<span [text]="expanded ? '' : ''">(Ausklappen)&ensp;</span>
                    {{ image.description }}
                  </figcaption>
                  {% endif %}
            </figure>
            {% endfor %}
            </amp-carousel>
            
            {% assign count = 0 %}
            {% for image in page.gallery %}
            {% assign count = count | plus: 1 %}
            <amp-image-lightbox id="lightbox{{count}}"
              layout="nodisplay"  on="tap:lightbox{{count}}.close" role="button" tabindex="1">
              <button class="button button-primary right" on="tap:lightbox{{count}}.close" role="button" tabindex="1">Schließen</button>
            </amp-image-lightbox>
            {% endfor %}
            
            <amp-carousel id="preview-carousel"
              width="auto"
              height="60"
              layout="fixed-height"
              type="carousel">
            {% assign itemc = 0 %}
            {% for image in page.gallery %}
            <button on="tap:main-carousel.goToSlide(index={{ itemc }})" tabindex="0" role="button" class="z-depth-1">
              <amp-img
                width="92"
                height="52"
                layout="responsive"
                src="{{ image.url | replace: 't_gallery', 't_glrythumb' }}"
                alt="{{ image.description | replace: '"', "'" }}"></amp-img>
            </button>
            {% assign itemc = itemc | plus: 1 %}
            {% endfor %}
            </amp-carousel>
            {% endif %}
            </div>
{% endif %}
