<div class="sp-header">
    <amp-img layout="fill" src="/images/pexels-photo-134469.jpeg" class="sp-header-background"></amp-img>
    <div class="sp-header-overlay container">
        <div class="col-4-m">
            <div class="sp-header-image">
                <amp-img layout="responsive" width="302" height="170" src="{{ page.logo.url }}" />
            </div>
        </div>
        <div class="col-8-m">
            <div class="sp-header-content">
                <h1 amp-fx="parallax" data-parallax-factor="1.3">{{ page.name }}</h1>
                <p class="location">
                    <i class="fa fa-map-marker"></i> {{ page.addressLabel }}</p>
                <div class="rating-box">
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </div>
                <div>
                    <a href="#anfragen" class="button-primary mar-top-1 mar-right-1">
                        <i class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Anfragen</a>
                    <a href="#bewerten" class="button-primary mar-top-1">
                        <i class="fa fa-heart-o"></i>&nbsp;&nbsp;Bewerten</a>
                </div>
            </div>
        </div>
    </div>
</div>