---
layout: page
---
<div class="row clear pad-top-5 pad-bottom-5">
<div class="col-3">
{% assign cities = site.data.city-inhabitants | sort: 'inhabitants' | reverse %}
<ul>
{% for c in cities limit: 30 %}
<li><a href="/{{ page.slug }}-{{ c.citySlug }}.html">{{ c.name }}</a></li>
{% endfor %}
<li><a href="/cities.html">&rarr; Alle Städte</a></li>
</ul>
</div>
<div class="col-9 row">
  <amp-list width="auto"
  height="1200"
  layout="fixed-height"
  src="https://apptest.weddian.de/api/search/serviceProvider?categorySlug={{ page.slug }}"
  items="data">
  {% raw %}
<template type="amp-mustache">
        <div class="col-6">
        {{#logo}}
        <amp-img layout="responsive" height="90" width="160" src="{{ logo }}"></amp-img>
        {{/logo}}
    {{^logo}}
    {% endraw %}
    <amp-img alt="Mountains"
    fallback
    layout="responsive"
    width="160"
    height="90"
    src="images/categories-small/{{ page.slug }}.jpg"
    class="grayscale"></amp-img>
    {% raw %}
    {{/logo}}
    <a href="{{slug}}.html"><h3>{{name}}</h3><br>
    <p>{{ description }}</p></a>
</div>
</template>
{% endraw %}
  <div overflow
    class="list-overflow">
    See more
  </div>
</amp-list>
</div>
</div>