---
layout: page
---
<div class="row clear pad-top-5 pad-bottom-5">
<div class="col-3">
{% assign categories = site.categories | sort: 'order' %}
<ul>
{% for c in categories %}
<li><a href="/{{ c.slug }}-{{ page.citySlug }}.html">{{ c.label }}</a></li>
{% endfor %}
</ul>
</div>
<div class="col-9">
<amp-list width="auto"
  height="1200"
  layout="fixed-height"
  src="https://apptest.weddian.de/api/search/serviceProvider?categorySlug={{ page.categorySlug }}&latitude={{ page.lat }}&longitude={{ page.lon }}"
  items="data">
  {% raw %}
  <template type="amp-mustache">
          <div class="col-6">
          {{#logo}}
          <amp-img layout="responsive" height="90" width="160" src="{{ logo }}"></amp-img>
          {{/logo}}
      {{^logo}}
      {% endraw %}
      <amp-img alt="Mountains"
      fallback
      layout="responsive"
      width="160"
      height="90"
      src="images/categories-small/{{ page.categorySlug }}.jpg"
      class="grayscale"></amp-img>
      {% raw %}
      {{/logo}}
      <a href="{{slug}}.html">
      <h3>{{name}}<br><small>{{ subtitle }} {{#subtitle}}-{{/subtitle}} {{ distance }}km entfernt</small></h3>
      <p>{{ description }}</p>
</a>
  </div>
  </template>
  {% endraw %}
  <div overflow
    class="list-overflow">
    See more
  </div>
</amp-list>
</div>
</div>