---
layout: default
---

<div class="container">
<div class="row clear">
<div class="col-12 pad-bottom-0">
    <h1>{{ page.label }} in {{ page.name }}</h1>
</div>
<div class="col-12 col-3-m">
{% assign categories = site.categories | sort: 'order' %}
<ul class="menu none-s">
{% for c in categories %}
<li {% if page.categorySlug == c.slug %}class="active"{% endif %}><a href="/{{ c.slug }}-{{ page.citySlug }}.html"><amp-img layout="fixed" height="24" width="24" src="{{ site.baseurl }}/images/category-icons/{{ c.slug }}.png"></amp-img> {{ c.label }}</a></li>
{% endfor %}
</ul>
<select on="change:AMP.navigateTo(url=event.value)" class="none-m" id="categories">
    {% for c in categories %}
    <option value="/{{ c.slug }}-{{ page.citySlug }}.html" {% if page.categorySlug == c.slug %}selected{% endif %}>{{ c.label }}</option>
    {% endfor %}
</select>
</div>
<div class="col-12 col-9-m">
{% include citycategory-list.html %}
</div>
</div>
</div>