---
layout: default
---

<div class="container">
    {% include sp/cover.html %}

    <div class="col-12">
        <q class="flex">{{ page.description}}</q>
    </div>


    <div class="description col-12 col-8-l">
        <h2>Beschreibung</h2>
        {{ page.longDescription }}
    </div>

    <div class="contacts col-12 col-4-l">
        <h2>Kontakt</h2>
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Telefon:</h4>
                <div>
                    <a href="tel:{{page.phone}}">{{page.phone}}</a>
                </div>
                <h4 class="card-title">E-Mail:</h4>
                <div>
                    <a href="mailto:{{page.email}}">{{page.email}}</a>
                </div>
                {% if page.socialNetworks %} {% if page.socialNetworks.instagram %}
                <h4 class="card-title">Instagram:</h4>
                <div>
                    <a href="{{ page.socialNetworks.instagram }}">{{ page.socialNetworks.instagram }}</a>
                </div>
                {% endif %} {% endif %}
                <div>
                    <a href="#anfragen" class="button-primary mar-top-1">
                        <i class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Anfragen</a>
                </div>
            </div>
        </div>
    </div>

    {% include sp/faq.html %}

    {% include sp/gallery.html %}
    
    {% include sp/inquiry.html %}
    
    {% include sp/rating.html %}
    
    {% include sp/reviews.html %}

</div>