<!doctype html>
<html amp lang="de">
<head>
{% include amp-head.html %}
    <title>{{ page.name }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-timeago" src="https://cdn.ampproject.org/v0/amp-timeago-0.1.js"></script>
    {% include css-head.html %}
</head>
<body>
<header class="borders content">
    <amp-img src="/images/weddian-logo-72.png" width="72" height="72"></amp-img>
    <h3>Weddian Branchenbuch<sup>(Beta)</sup></h3>
</header>
<div class="image-header">
    <div class="slt_item_head">
        <div class="user_logo_pic"><amp-img layout="responsive" width="302" height="170" src="{{ page.logo.url }}"/></div>
        <div class="slt_item_contant">
            <h1>{{ page.name }}</h1>
            <p class="location"><i class="fa fa-map-marker"></i> {{ page.addressLabel }}</p>
            <div class="rating-box">
                <div><span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                        class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </span></div>
            </div>
            <div class="head-bookmark-bock">
                <div class="detail-banner-btn"><a href="#anfragen"><i
                        class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Anfragen</a>
                </div>
                <div class="detail-banner-btn"><a href="#bewerten"><i
                        class="fa fa-heart-o"></i>&nbsp;&nbsp;Bewerten</a></div>
            </div>
        </div>
    </div>
</div>

<section class="borders content">
    <q class="intro flex-box">{{ page.description}}</q>
</section>

{% if page.gallery %}
<section class="borders content ampstart-card">
    <amp-carousel width="1280" height="720"
                  layout="responsive"
                  type="slides" id="carousel-with-preview">
        {% for image in page.gallery %}
        <amp-img src="{{ image.url | replace: 't_gallery', 't_glry'}}"
                 width="1280" height="720"
                 layout="responsive"
                 alt="a sample image"></amp-img>
        {% endfor %}
    </amp-carousel>
    <amp-carousel class="carousel-preview"
                  width="auto"
                  height="100"
                  layout="fixed-height"
                  type="carousel">
        {% for image in page.gallery %}
        <button on="tap:carousel-with-preview.goToSlide(index={{forloop.index0}})">
            <amp-img src="{{ image.url | replace: 't_gallery', 't_glrythumb' }}"
                     width="160"
                     height="90"
                     layout="fixed"
                     alt="a sample image"></amp-img>
        </button>
        {% endfor %}
    </amp-carousel>
</section>
{% endif %}

<section class="borders content flex-box">
    <div class="description">
        <h2>Beschreibung</h2>
        {{ page.longDescription }}
    </div>
    <div class="contacts">
        <h3>Kontakt</h3>
        <h4>Telefon:</h4>
        <div><a href="tel:{{page.phone}}">{{page.phone}}</a></div>
        <h4>E-Mail:</h4>
        <div><a href="mailto:{{page.email}}">{{page.email}}</a></div>
        {% if page.socialNetworks %}
        {% if page.socialNetworks.instagram %}
        <h4>Instagram:</h4>
        <div><a href="{{ page.socialNetworks.instagram }}">{{ page.socialNetworks.instagram }}</a></div>
        {% endif %}
        {% endif %}
        <div class="head-bookmark-bock">
            <div class="detail-banner-btn"><a href="#anfragen"><i
                    class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Anfragen</a>
            </div>
        </div>
    </div>
</section>

{% if page.extraData.questions %}
<section class="borders content" id="faq">
<h2>Fragen und Antworten</h2>
{% for question in page.extraData.questions %}
<h4>{{ question.question }}</h4>
{{ question.answer }}
    {% endfor %}
    {% endif %}
</section>

{% if page.reviews > 0 %}
<section class="borders content" id="reviews">
    <h2>Bewertungen</h2>
    {% for review in page.reviewList %}
    <div class="review">
        <div>
            <p>{{ review.review }}</p>
        </div>
        <div class="reviewer">
            <div class="flex-box">
                <b>{{ review.userName }}</b>
                <span>&nbsp;aus {{review.userCity}},&nbsp;</span>
                <amp-timeago locale="de" layout="fixed-height" height="24"
                         cutoff="15552000"
                         datetime="{{review.createdDate | divided_by: 1000 | date: '%FT%T.%LZ'}}">
                {{review.createdDate | divided_by: 1000 | date: 'am %e.%m.%Y '}}</amp-timeago>
            </div>
            <div class="stars">{% for i in (1..5) %}{% if i <= review.stars %}★{% else %}☆{% endif %}{% endfor %}</div>
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}

<section class="borders content" id="bewerten" >
<h2>{% if page.reviews == 0 %}Erste {% endif %}Bewertung schreiben</h2>

    <form method="post"
          action-xhr="/components/amp-form/submit-form-input-text-xhr"
          target="_top">
        <input type="hidden" name="serviceProviderId" value="{{ page.serviceProviderId }}">
        <fieldset class="rating">
            <input name="rating"
                   type="radio"
                   id="rating5"
                   value="5"
                   on="change:rating.submit" />
            <label for="rating5"
                   title="5 stars">☆</label>

            <input name="rating"
                   type="radio"
                   id="rating4"
                   value="4"
                   on="change:rating.submit" />
            <label for="rating4"
                   title="4 stars">☆</label>

            <input name="rating"
                   type="radio"
                   id="rating3"
                   value="3"
                   on="change:rating.submit" />
            <label for="rating3"
                   title="3 stars">☆</label>

            <input name="rating"
                   type="radio"
                   id="rating2"
                   value="2"
                   on="change:rating.submit"
                   checked="checked" />
            <label for="rating2"
                   title="2 stars">☆</label>

            <input name="rating"
                   type="radio"
                   id="rating1"
                   value="1"
                   on="change:rating.submit" />
            <label for="rating1"
                   title="1 stars">☆</label>
        </fieldset>
        <div class="form-input-group">
            <div>
            <input type="text" class="form-control"
                   name="name"
                   placeholder="Name"
                   required>
            </div>
            <div>
            <input type="email"  class="form-control"
                   name="userId"
                   placeholder="E-Mail"
                   required>
            </div>
            <div>
            <input type="text"  class="form-control"
                   name="userCity"
                   placeholder="Wohnort"
                   required>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control"
                  name="review"
                  rows="3"
                  placeholder="Deine Bewertung..."></textarea>
            <div></div>
        </div>
        <div class="form-button-group" >
            <button>Absenden</button>
        </div>
        <div submit-success>
            <template type="amp-mustache">
                Success! Thanks {{name}} for trying the
                <code>amp-form</code> demo! Try to insert the word "error" as a name input in the form to see how
                <code>amp-form</code> handles errors.
            </template>
        </div>
        <div submit-error>
            <template type="amp-mustache">
                Error! Thanks {{name}} for trying the
                <code>amp-form</code> demo with an error response.
            </template>
        </div>
    </form>
</section>

{% if page.offerInquiry %}
<section class="borders content" id="anfragen" >
<h2>Unverbindliche Anfrage stellen</h2>

    <form method="post"
          action-xhr="/components/amp-form/submit-form-input-text-xhr"
          target="_top">
        <input type="hidden" name="serviceProviderId" value="{{ page.serviceProviderId }}">
        <div class="form-input-group">
            <div>
            <input type="text" class="form-control"
                   name="name"
                   placeholder="Name"
                   required>
            </div>
            <div>
            <input type="email"  class="form-control"
                   name="userId"
                   placeholder="E-Mail"
                   required>
            </div>
            <div>
            <input type="text"  class="form-control"
                   name="weddingDate"
                   placeholder="Hochzeitsdatum"
                   required>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control"
                  name="inquiry"
                  rows="3"
                  placeholder="Deine Anfrage..."></textarea>
        </div>
        <div class="form-button-group">
            <button>Absenden</button>
        </div>
        <div submit-success>
            <template type="amp-mustache">
                Success! Thanks {{name}} for trying the
                <code>amp-form</code> demo! Try to insert the word "error" as a name input in the form to see how
                <code>amp-form</code> handles errors.
            </template>
        </div>
        <div submit-error>
            <template type="amp-mustache">
                Error! Thanks {{name}} for trying the
                <code>amp-form</code> demo with an error response.
            </template>
        </div>
    </form>
</section>
{% endif %}

{% include footer.html %}
</body>
</html>


