---
layout: default
---

<div class="container">
    {% include sp/header.html %}

    <div class="col-12">
        <q class="flex">{{ page.description}}</q>
    </div>


    <div class="description col-12 col-8-l">
        <h2>Beschreibung</h2>
        {{ page.longDescription }}
    </div>

    <div class="contacts col-12 col-4-l">
        <h2>Kontakt</h2>
        <h4>Telefon:</h4>
        <div>
            <a href="tel:{{page.phone}}">{{page.phone}}</a>
        </div>
        <h4>E-Mail:</h4>
        <div>
            <a href="mailto:{{page.email}}">{{page.email}}</a>
        </div>
        {% if page.socialNetworks %} {% if page.socialNetworks.instagram %}
        <h4>Instagram:</h4>
        <div>
            <a href="{{ page.socialNetworks.instagram }}">{{ page.socialNetworks.instagram }}</a>
        </div>
        {% endif %} {% endif %}
        <div>
            <a href="#anfragen" class="button-primary mar-top-1">
                <i class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Anfragen</a>
        </div>
    </div>

    {% if page.extraData.questions %}
    <div id="faq" class="col-12">
        <h2>Fragen und Antworten</h2>
        {% for question in page.extraData.questions %}
        <h4>{{ question.question }}</h4>
        {{ question.answer }} {% endfor %} {% endif %}
    </div>

    {% include sp/gallery.html %}
 
    {% include sp/inquiry.html %}

    {% include sp/rating.html %}

    {% include sp/reviews.html %}

</div>