// ==========================================================================
// Base – Blockquote
// ==========================================================================
blockquote,
.blockquote {
  font-family: $base-blockquote-font-family;
  font-weight: $base-font-weight;
  font-style: italic;
  margin: 20px 0;
  p {
    @include font-size($base-blockquote-font-size);
    @include line-height($base-blockquote-line-height);
    margin-bottom: 20px;
  }
  cite {
    @include font-size($base-font-size - 3);
    @include line-height($base-line-height - 3);
    font-weight: 700;
    font-style: normal;
  }
}
q {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  font-family: $base-blockquote-font-family;
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
  font-size: 60px;
  line-height: 60px;
  display: block;
  margin-right: 8px;
}

q:after {
  content: close-quote;
  font-size: 60px;
  line-height: 60px;
  display: block;
  margin-left: 8px;
}