// ==========================================================================
// Base – Assets
// ==========================================================================
// Custom Buttons
%button-shared {
  cursor: pointer;
  line-height: normal;
  padding: 0.8rem $default-pad-2;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: $default-border-radius;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.button,
.button.FREE {
  @extend %button-shared;
  border: $default-border-width solid $gray;
  background-color: $white;
  color: $black;
  &:hover {
    background-color: $gray;
  }
}

.button-primary,
.button.PREMIUM,
.button.PREMIUMPLUS {
  @extend %button-shared;
  border: $default-border-width solid $primary;
  background-color: $primary;
  color: $white;
  &:hover {
    color: $black
  }
}

.card.category-card .button,
.card.image-card .button.FREE,
.card.image-card .button.PREMIUM,
.card.image-card .button.PREMIUMPLUS{
  line-height: 38px;
  height: 38px;
  padding: 0 $default-pad-2;
  position: absolute;
  bottom: $default-pad-2;
}

.button.PREMIUMPLUS:before {
  content: '★';
  margin-right: .5rem;
}

// Button Styled as Link
.button-link {
  color: $base-link-color;
  border: 0;
  background: transparent;
  padding: 0;
  &:hover {
    text-decoration: none;
  }
  &:active {
    outline: 0;
  }
}

@include breakpoint(s) {
  .full-width-button {
    width: 100%;
    text-align: center;
  }
}
.button-full{
  width: 100%;
}