// ==========================================================================
// Base – Assets
// ==========================================================================

// Custom Buttons
.button {
  cursor: pointer;
  border: 1px solid #d7d7d7;
  background-color: #f3f3f3;
  line-height: normal;
  padding: 10px 20px;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  transition: all 0.3s;
  &:hover, &:active { text-decoration: none; }
  &:hover { background: #f9f9f9; }
}
.button-primary {
  background-color: $primary;
  color: #ffffff;
  cursor: pointer;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.detail-banner-btn {
  display: inline-block;
  margin-right: 15px;
}
.button-secondary {
  // Add your styles here
}

// Button Styled as Link
.button-link {
  color: $base-link-color;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
  &:hover { text-decoration: none; }
  &:active { outline: 0; }
}