// ==========================================================================
// Base – Assets
// ==========================================================================
// Custom Buttons
%button-shared {
  cursor: pointer;
  line-height: normal;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: $default-border-radius;
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.button {
  @extend %button-shared;
  border: $default-border-width solid $gray;
  background-color: $white;
  color: $black;
  &:hover {
    background-color: $gray;
  }
}

.button-primary {
  @extend %button-shared;
  border: $default-border-width solid $primary;
  background-color: $primary;
  color: $white;
  &:hover {
    color: $black;
  }
}

.button-secondary {
  // Add your styles here
}

// Button Styled as Link
.button-link {
  color: $base-link-color;
  border: 0;
  background: transparent;
  padding: 0;
  &:hover {
    text-decoration: none;
  }
  &:active {
    outline: 0;
  }
}