.card {
    border-radius: $default-border-radius;
    border: $default-border-width solid $gray;
    padding: 0;
    margin: $default-pad-1;
}

.card .card-content {
    padding-left: $default-pad-2;
    padding-right: $default-pad-2;
    padding-bottom: $default-pad-2;
    color: black;
    background-color: $white;
}

.card .card-title {
    font-size: 1.17em;
    font-weight: bold;
    color: $primary;
}

@include breakpoint(m) {
    .card.image-card{
        min-height: 360px;
        position: relative;
    }
    .card.image-card .card-content {
    min-height: 156px;        
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
    }
    /*.card.image-card .card-content>p {
        height: 66px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card.image-card .card-content:hover>p {
        overflow: visible;
        white-space: normal;
        height: auto;
    }*/
}