.footer {
  color: $white;
  box-sizing: border-box;
  background-color: $black;
}

.footer h2 {
  color: white;
}

.footer-content {
  width: 920px;
  padding-right: $default-pad-2;
  padding-left: $default-pad-2;
  margin-right: auto;
  margin-left: auto;
}

.footer hr {
  background: $primary;
  border: 0 none;
  bottom: 0;
  height: $default-border-width;
  margin: 10px 0;
  top: -25px;
  width: 14%;
}