// ==========================================================================
// Base – Forms
// ==========================================================================

// Form, Fieldset and Legend
fieldset {
  border: $default-border-width solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

// All Form Elements
label,
button,
input,
optgroup,
select,
textarea {
  color: $base-input-color;
  font: inherit;
  margin: 0;
  border-radius: $default-border-radius;
}
input:not([type="radio"]),textarea{
  margin-right:$default-pad-1;
  width: 100%;
  border: $default-border-width solid $base-input-border-color;
  border-radius: $default-border-radius; 
}

// Mixed Input Fields
[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="search"],
[type="date"] {
  height: $base-input-height;
  padding: 10px;
  background-color: $base-input-background-color;
  border: $default-border-width solid $base-input-border-color;
  border-radius: $default-border-radius;  
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border-radius: 0;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Text Area
textarea {
  padding: $default-pad-1;
  background-color: $base-input-background-color;
  border: $default-border-width solid $base-input-border-color;
  overflow: auto;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}

// Select
select {
  text-transform: none;
  height: $base-input-height;
  padding: 0 $default-pad-1;
  background-color: $base-input-background-color;
  border: $default-border-width solid $base-input-border-color;
  &:focus {
    background-color: $base-input-background-focus-color;
    border-color: $base-input-border-focus-color;
    outline: 0;
  }
}
optgroup { font-weight: 700; }

// Buttons
button {
  border-radius: 0;
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border-radius: 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}


// Placeholder Colour
input::-webkit-input-placeholder { color: $base-input-placeholder-color; }
input:-moz-placeholder { color: $base-input-placeholder-color; }
input::-moz-placeholder { color: $base-input-placeholder-color; }
input:-ms-input-placeholder { color: $base-input-placeholder-color; }

form.amp-form-submit-error [submit-error] {
  color: red;
}

form.amp-form-submit-success [submit-success] {
  color: green;
  font-weight: bold;
}

form.amp-form-submit-success.hide-inputs > fieldset,
form.amp-form-submit-success.hide-inputs .form-input-group,
form.amp-form-submit-success.hide-inputs .form-group,
form.amp-form-submit-success.hide-inputs .form-button-group {
  display: none;
}

textarea.form-control {
  box-sizing: border-box;
  height: auto;
}

.form-control {
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: $default-border-width solid #f1f1f1;
  border-radius: 0;
  display: block;
  font-size: $default-pad-1;
  height: 46px;
  line-height: 24px;
  font-weight: 500;
  padding: $default-pad-1 $default-pad-1;
  color: #969595;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  box-shadow: none;
}

.form-group {
  margin-bottom: $default-pad-2;
}

.form-input-group {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between
}

.form-input-group div {
  margin-right: 16px;
  margin-left: 16px;
}

.form-button-group {
  display: flex;
  justify-content: flex-end;
}

