.menu{
    list-style: none;
    border-radius: 2px;
    margin-top: 14px;
    padding:0;
}
.menu li{
    list-style: none;
    min-height: 32px;
    line-height: 22px;
    font-size: 14px;
    border: 1px solid $gray;
    border-top:none;
    padding: 5px;
    display: flex;
}
.menu li:first-of-type{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid $gray;
}
.menu li:last-of-type{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.menu li.active{
    background-color: rgba(222, 25, 96, 0.4);
}
.menu li a,
.menu li.active a{
    color: #767879;
}
.menu li amp-img{
    vertical-align: middle;
    margin-right: 7px;
}
select{
    margin: 14px;
    width: calc(100% - 28px);
}