// Banner
.banner {
    background-color: $yellow;
    color: $black;
}

.logo {
    display: inline-block;
}

.menu {
    @include font-size(14);
    @include line-height(20);
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
    @include breakpoint(l) {
        padding: 10px 0 0 0;
    }
    &>li {
        display: inline-block;
        margin: 0 8px;
        &>a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &>a.active {
            text-decoration: underline;
        }
    }
}

.banner-heading {
    @include font-size(50);
    @include line-height(56);
    @include breakpoint(m) {
        @include font-size(36);
        @include line-height(42);
    }
    @include breakpoint(l) {
        @include font-size(46);
        @include line-height(50);
    }
}

.button-banner {
    color: $black;
    @include background-alpha ($white, 90%);
    border-color: transparent;
    padding: 15px 20px;
    display: block;
    @include breakpoint(m) {
        display: inline-block;
    }
    &:hover,
    &:focus {
        @include background-alpha ($white, 100%);
    }
    &.button-secondary {
        margin-top: 10px;
        @include background-alpha ($white, 50%);
        &:hover,
        &:focus {
            @include background-alpha ($white, 100%);
        }
    }
}

header {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  header h3 {
    display: inline-block;
  }