.review {
    border: $default-border-width solid $gray;
    border-radius: $default-border-radius;
    margin-bottom: $default-pad-2;
}

.review .card-content p{
    text-align: justify;
    letter-spacing: 0.4px;
    color: $darkgray;
}

.reviewer {
    display: flex;
    justify-content: space-between;
    padding: $default-pad-1;
    background-color: $lightgray;
}

.stars {
    color: $primary;
}

.rating {
    color: $primary;
    padding: 0;
    /* to prevent flicker when mousing over padding */
    border: none;
    /* to prevent flicker when mousing over border */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* for CSS-only style change on hover */
    text-align: left;
    /* revert the RTL direction */
    user-select: none;
    /* disable mouse/touch selection */
    cursor: pointer;
    font-size: 2rem;
    /* disable touch feedback on cursor: pointer - http://stackoverflow.com/q/25704650/1269037 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 1rem;
}

/* the stars */

.rating>label {
    display: inline-block;
    width: 1rem;
    /* magic number to overlap the radio buttons on top of the stars */
}

.rating>*:hover,
.rating>*:hover~label,
.rating:not(:hover)>input:checked~label {
    color: transparent;
    /* reveal the contour/white star from the HTML markup */
    cursor: inherit;
    /* avoid a cursor transition from arrow/pointer to text selection */
}

.rating>*:hover:before,
.rating>*:hover~label:before,
.rating:not(:hover)>input:checked~label:before {
    content: "★";
    color: $primary;
}

.rating>input {
    position: relative;
    transform: scale(3);
    /* make the radio buttons big; they don't inherit font-size */
    transform: scale(var(--star-size));
    /* the magic numbers below correlate with the font-size */
    top: -0.5rem;
    /* margin-top doesn't work */
    top: calc(var(--star-size) / 6 * -1rem);
    margin-left: -2.5rem;
    /* overlap the radio buttons exactly under the stars */
    margin-left: calc(var(--star-size) / 6 * -5rem);
    z-index: 2;
    /* bring the button above the stars so it captures touches/clicks */
    opacity: 0;
    /* comment to see where the radio buttons are */
    font-size: initial;
    /* reset to default */
}